 /* .hero-section{
    
    display: flex;
    width: 100vw;
    height: 90vh;
    background: rgb(252, 226, 230);
    justify-content: space-between;
    align-items: center;
    padding:0 100px;
    margin-top: 1px;
 }
 .hero-left{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    width: 35%;
    justify-content: center;
   
 }
 .hero-left button{
 width: 150px;
  padding: 13px;
  border: 1px solid black;
    display: inline-block;
    margin: 0 auto;
 }
.hero-left span{
    position: relative;
    top: 2px;
}
  .hero-left h1{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  */