 /* .navbar-container{
  
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
  padding: 0 80px;
 
   font-size: 25px;
   font-family:sans-serif;
   box-shadow: 0 1px 5px -1px rgb(119, 104, 104);
 }
 .navbar-container p {
  margin: 0;
  padding: 0;
}

 .left,.right,.center{
    display: flex;
  cursor:auto;
    justify-content: space-around;
 }
 .left{
    font-weight: 600;
 }
 .center{
    width: 45%;

 }
 .right{
    width: 10%;
  
 }
 button{
    font-size: 25px;
     cursor: pointer;
     height: 70px;
 }
 

 sup{
       height: 20px;
    width: 20px;
    display: inline-block;
    font-size: 12px;
    position: relative;
    bottom: 10px;
    right: 8px;
    color: white;
    background: red;
 text-align: center;
    border-radius: 50%;
    padding: 1px;
 }

 .active{

    color: red;
 } */